<div class="row">
  <div class="large-12">
    <h1><%= @category.name %> Drinks</h1>

    <%- if !@drinks.empty? -%>
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th></th>
        </tr>

        <%- @drinks.each do |drink| -%>
          <tr>
            <td><%= drink.title %></td>
            <td><%= truncate(drink.description, length: 30) %></td>
            <td>
              <%= link_to 'Delete',
                '/drinks/' + drink.to_param,
                method: :delete %>
            </td>
          </tr>
        <%- end -%>
      </table>

    <%- end -%>
  </div>
</div>

<div class="New_Button"><%= link_to "Add new drink to " + @category.name, '/categories/'+@category.to_param+'/drinks/new' %></div>

<div class="Back_Button"><%= link_to "Back", '/categories' %></div>
